.jumbotron {
    height: 100%;
    height: 100vh;
    align-items: center;
    display: flex;
}

.sty {
    display: inline-block;
}

.sty1, .sty2 {
    overflow: hidden;
}
.sty1 .lead{
    position: relative;
    animation: firanim 1s ease-in-out;
   
}
.sty2 .lead{
    position: relative;
    animation: secanim 1.5s ease-in-out;
}

@keyframes firanim {
    from {top:-50px;}
    to {top:0px;}
}
@keyframes secanim {
    from {left:-75vw;}
    to {left:0px;}
}