.stynav {
    background-color: #353b48;
    color: white;
}


.stynav div ul li {
    margin: 0px 10px;
}
.stynav div button {
    padding: 5px 15px;
    margin: 0px 10px;
    border-radius: 50px;
    border: none;
    background-color: rgba(41, 128, 185, 1.0);
    color: white;
}
.stynav div button:hover {
    background-color: rgba(41, 128, 185, 0.8);
}



.jumbotron {
    height: 100%;
    height: 100vh;
    align-items: center;
}

.sty, .sty1, .sty2 {
    overflow: hidden;
}


.sty span {
    position: relative;
    animation: thiranim 1s ease-in-out;
}

.sty1 .lead{
    position: relative;
    animation: firanim 1s ease-in-out;
   
}
.sty2 .lead{
    position: relative;
    animation: secanim 1.5s ease-in-out;
}

.stydisp {
    font-size: 35px;
}
.stypar {
    text-align: justify;
}

@keyframes firanim {
    from {top:-50px;}
    to {top:0px;}
}
@keyframes secanim {
    from {left:-100vw;}
    to {left:0px;}
}
@keyframes thiranim {
    from {right: -50px;}
    to {right: 0px;}
}

@media screen and (max-width: 575px) {
    .sty2 .lead{
        position: relative;
        animation: secanim 2s ease-in-out;
    }
    .collapse {
        display: flex;
        height: 100vh;
        justify-content: center;   
    }

}
